<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
     <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
   <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  

</head>
<body id="body">
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %> 

    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-caldoDeBolasDeVerde">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Caldo de Bolas de</h1>
            <p >Verde</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 
<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                    <h2 id="t">
                           CALDO DE BOLAS DE VERDE
                        </h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem numquam perspiciatis, facilis temporibus odit explicabo quibusdam itaque similique veritatis non esse maxime et, iure, dolores doloremque! Rerum ratione fugit enim?</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/eluniverso/HHC2NXPFTNEI5DAOEMZ5XDCIMQ.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                28 tazas de agua. <br>
                                                4 plátanos verdes. <br>
                                                3 hojas de col finamente picadas. <br>
                                                1 diente de ajo finamente picado. <br>       
                                                1 cucharada de achiote. <br>
                                                2 choclos. <br>
                                                1 libra de hueso blanco de res. <br>
                                                1 pimiento finamente picado. <br>
                                                1 cebolla paiteña finamente picada. <br>
                                                1 yuca pequeña. <br>
                                                1 zanahoria cortada en cuadros. <br>
                                                1 cucharada de culantro finamente picado. <br>
                                                sal, pimienta y comino al gusto. <br>
                                            </p>
                                        </div>
                                    </div>
                                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident a neque quia obcaecati voluptatum nostrum libero corporis animi inventore minus illum consequatur quam fugit aut, distinctio possimus earum iste.</p> -->

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1). Licúa la cebolla, el pimiento y los dientes de ajo.
                                    Vierte esta preparación en una olla.
                                    Añade el agua, el hueso, el caldo de res, el culantro, el achiote, sal, pimienta y comino.
                                    Deja hervir y coloca los tres plátanos verdes, la col, la yuca, los choclos cortados en rodajas y la zanahoria.
                                    Cuando los verdes estén cocinados retíralos del fuego, aplasta y agrega un plátano verde crudo rallado.
                                    Incorpora el achiote del relleno y cucharadas de caldo, hasta que la masa esté consistente.
                                    Para preparar el relleno en dos cucharadas de achiote sofríe la cebolla, el pimiento, la carne molida, la pasta de maní, las arvejas cocidas, los huevos picados, el orégano.
                                    Condimenta con sal y pimienta. Cocina el refrito.
                                    Forma bolas con la masa de verde y rellénalas con la preparación anterior.
                                    Incorpora las bolas al caldo y cocina por 10 minutos.

                                
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                        <input class="btn btn-outline-dark" type="number" value="4">

                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Imprimir:</h5>
                                        <a href="/guardar/26" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://latarde.com/wp-content/uploads/2019/07/variedad-y-calidad.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src=" https://i.pinimg.com/originals/b9/d7/10/b9d7101e022b79c1d2e947dcadbcec50.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->


<!-- Footer -->
<%- include ../../layout/footer.ejs %> 
<!-- Fin Footer -->

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/myjs/print.js"></script>
</body>
</html>