<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/tylesheetsbootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
     <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
   <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  
    <!-- Ioicons -->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

</head>
<body>
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %> 

    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-papasCuero">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Papas con</h1>
            <p >Cuero</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 
<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                            PAPAS CON CUERO
                        </h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem numquam perspiciatis, facilis temporibus odit explicabo quibusdam itaque similique veritatis non esse maxime et, iure, dolores doloremque! Rerum ratione fugit enim?</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://d1uz88p17r663j.cloudfront.net/original/57952b17bcc879e079dedd0b5dc6724e_papas-con-cuero.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                2 libras de pescado albacora o atún fresco. <br>
                                                1 tomate en rodajas. <br>
                                                3 cucharadas de pimentón seco o ají seco en polvo. <br>
                                                1 libra de yuca pelada y cortada en trozos
                                                Culantro picado al gusto.<br>
                                                1 cebolla colorada mediana encurtida mezclada con limón.<br>
                                                Sal y pimienta al gusto.<br>
                                            </p>
                                        </div>
                                    </div>
                                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident a neque quia obcaecati voluptatum nostrum libero corporis animi inventore minus illum consequatur quam fugit aut, distinctio possimus earum iste.</p> -->

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1). En una olla agrega tres tazas de agua y cocina el pescado junto con sal al gusto, ají, culantro, comino, pimiento, y tomate. Aparte en un recipiente distinto cocina la yuca y agrega sal. <br>
                                2). Cuando se haya cocinado el pescado, sácalo y sepáralo en lonjas. Recuerda cernir el caldo y guardarlo. <br>
                                3).En el otro recipiente donde se cocina la yuca, agrega el caldo del pescado y aplástala para que quede en trozos medianos. <br>
                                4). En un plato sopero, sirve el caldo con la yuca, agrega el pescado en lonjas, un poco de culantro picado y encurtido de cebolla. Puedes acompañarlo con ají, chifles, limón y tostado. <br>
                                ¡A disfrutar!

                                
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                      
                                        <i id="restaurant"  class="icon ion-md-restaurant"></i>
                                   
                                        <label for="">4</label>
                                            
                                        </input>

                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>GUARDAR</h5>
                                        <a href="/guardar/3" type="btn btn-info" class="icon ion-md-save"></a>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://latarde.com/wp-content/uploads/2019/07/variedad-y-calidad.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src=" https://i.pinimg.com/originals/b9/d7/10/b9d7101e022b79c1d2e947dcadbcec50.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->


<!-- Footer -->
<%- include ../../layout/footer.ejs %>  
<!-- Fin Footer -->

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/myjs/print.js"></script>
</body>
</html>