<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
 
    <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
    <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  

</head>
<body id="body">
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %>   

    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-SecoChivo">
    <div>
        <div class="starter-template text-dark">
            <h1  class="">Seco de Chivo</h1>
            <p >Sierra</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->

<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                            SECO DE CHIVO
                        </h2>
                        <p>Receta del seco de chivo,es un delicioso platillo típico ecuatoriano preparado con carne de chancho o cerdo.</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://www.recetas.com.ec/imagen/escalas/2019/12/a1268/seco-de-chivo-recetas-ecuador-mx.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                1 kilo de osobuco de borrego<br>
                                                2 cebollas paiteñas cortadas en cuadritos finos<br>
                                                2 pimientos verdes cortados en daditos<br>
                                                3 cucharadas de perejil picado<br>
                                                3 cucharadas de culantro picado<br>
                                                4 tomates maduros<br>
                                                6 naranjillas bien maduras<br>
                                                1 ají grande<br>
                                                1 cucharadita de aceite de achiote<br>
                                                2 dientes de ajo machacados<br>
                                                2 tazas de arroz preparado como de costumbre<br>
                                                Sal, pimienta y comino al gusto<br>
                                                
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1).Prepare un refrito con el aceite, cebolla, pimiento, culantro, perejil y el achiote. <br>
                                2). Agregue los aliños y los ajos machacado.  <br>
                                3). Incorpore la carne y cocine durante 10 minutos, removiendo de vez en cuando. <br>
                                4). Licúe los tomates y las naranjillas, cierna y agregue este jugo a la carne, hasta que quede bien cubierta. <br>
                                5).Añada el ají, sin sacarle el tallito, para que no pique y solo dé sabor.<br>
                                6)Tape y cocine hasta que esté espeso.<br>
                                7)Acompañe con tomate, aguacate, papas cocidas y lechuga.<br>
                                ¡A disfrutar!
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                        <input class="btn btn-outline-dark" type="number" value="4">
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Imprimir:</h5>
                                        <a href="/guardar/28" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="https://www.lamaletademaggie.com/libros/libros-de-recetas-saludables/">
                    <img src="https://www.lamaletademaggie.com/wp-content/uploads/2019/01/desayunos-saludables-min.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://i.ytimg.com/vi/eqIKKfXOHZE/maxresdefault.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="http://bridalsmagazine.com/wp-content/uploads/2017/10/Portada-Recetas-Saludables...-Daniela-Camus.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->

   


<!-- Footer -->
<%- include ../../layout/footer.ejs %>  
<!-- Fin Footer -->
 

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/myjs/print.js"></script>
</body>
</html>