<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
     <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
   <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %> 
    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-tigrilloEcuatoriano">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Tigrillo Ecuatoriano</h1>
            <p >Plato Ecuatoriano</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 
<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                            TIGRILLO ECUATORIANO
                        </h2>
                        <p>Tigrillo es un plato que consiste en un revuelto de plátano con queso, huevo, chicharrón o carne de res. Su nombre proviene del color café claro, casi amarillo, con pintas obscuras del plátano chamuscado, que semeja la piel del animal silvestre. Por lo general el tigrillo se sirve en el desayuno o en la cena, acompañado de un buen café.</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://comidaecuatoriana.com.es/wp-content/uploads/2020/02/tigrillo-ecuatoriano.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                3 Plátanos Verdes  <br>
                                                Mantequilla 2 cdta <br>
                                                Aceite De Girasol 200 ml <br>
                                                Chicharrón <br>
                                                Pimienta<br>
                                                Queso 200 gr<br>
                                                Cebolla Larga 1 u<br>
                                                Huevos 4 u<br>
                                                Sal<br>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1).Prepara un sofrito con cebolla picada y mantequilla.<br>
                                2).Pelamos y cortamos 2 plátanos verdes para posteriormente cocinamos durante 20-30 minutos hasta que estén blandos.<br>
                                3).Pela el plátano verde sobrante, córtalo en pedacitos y fríelo en un sartén con aceite.<br>
                                4).En un recipiente plano o en la mesa, aplasta los verdes fritos y cocinados hasta que tengas un majado de verde.<br>
                                5).En una paila y a fuego lento revolvemos el majado junto con los huevos y el queso hasta que el este se haya derretido. <br>
                                6).Por último, añadimos el chicharrón y servimos. <br>
                                ¡A disfrutar!
                                </p>
                            
                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                      
                                        <i id="restaurant"  class="icon ion-md-restaurant"></i>
                                   
                                        <label for="">4</label>
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Guardar:</h5>
                                        <a href="/guardar/29" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://latarde.com/wp-content/uploads/2019/07/variedad-y-calidad.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src=" https://i.pinimg.com/originals/b9/d7/10/b9d7101e022b79c1d2e947dcadbcec50.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->


<!-- Footer -->
<%- include ../../layout/footer.ejs %> 
<!-- Fin Footer -->

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="../../myjs/print.js"></script>
</body>
</html>