<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css"> 

    <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
 
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
/>  
<!-- Google Fonts -->
 <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
/>  
<!-- MDB -->
   <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
 >  
</head>
<body>
    <%- include layout/header.ejs %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
    <div class="container">
        <h2>resultados</h2> 
       
        
          <div class="row">
            <%- include layout/busqueda.ejs%> 
            
          </div>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <%- include layout/footer.ejs %> 

    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>  
    
</body>
</html>