<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Scrooll -->
    <script src="/javascripts/smooth-scroll.min.js"></script>
    <!-- Fin Scroll -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>  
<!-- MDB -->
   <link  
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
rel="stylesheet"
 >  

</head>
<body>
 
   <!-- Navbar-->

   <%- include layout/header.ejs %> 

    <!-- FIN Navbar -->
 
   <!-- Banner -->

   <section class= "banner-mariscos">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">¡No hay mal que unos</h1>
            <p >Buenos mariscos lo arreglen!</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Recetario</p>
                <h4 class="h2 text-shadow">"Mariscos"</h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 


    <!-- Inicio de las recetas de sal-->
    <div class="container">
        <hr>
        <!-- Inicio de las entradas -->
        <div class="row">
            <div class="col-lg-8">

                <!-- Fila 1 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/Recetas/Mariscos/arroz_marinero">
                                    <img src="https://1.bp.blogspot.com/-nY_sYMJDt3Y/WuyoSNDlr_I/AAAAAAAAHLw/ViMWU85WipgnGxZtWkpgJuzPXvsi7yj5ACLcBGAs/s1600/GP9A7935_andres%25C2%25AEburbano.JPG" class="card-img-top img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">ARROZ MARINERO</h5>
                                    <p class="card-text">El Arroz Marinero es un plato típico de la zona costera de Latinoamérica como se puede deducir de su nombre se compone principalmente de mariscos y arroz se diferencia de la paella por los condimentos con los que se prepara... </p>
                                    <a href="/recetas/mariscos/arroz_marinero" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/mariscos/ceviche">
                                    <img src="https://www.recetas-argentinas.com/base/stock/Recipe/175-image/175-image_web.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">CEVICHE</h5>
                                    <p class="card-text">Ecuador es conocido mundialmente como uno de los exportadores de camarones de alta calidad y este justo por esto que no es sorprendente que el ceviche de camarones en Ecuador...</p>
                                    <a href="/recetas/mariscos/ceviche" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>

                <!-- Fila 2 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/mariscos/encocado_camaron">
                                    <img src="https://www.recetasdecamaron.com/wp-content/uploads/2019/05/Receta-de-ENCOCADO-de-Camar%C3%B3n.jpg" class="card-img-top img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">ENCOCADO DE CAMARÓN</h5>
                                    <p class="card-text">El Encocado de Camarón es uno de los platos típico de la costa ecuatoriana, específicamente de la provincia de Esmeraldas, uno de sus ingredientes principales es el jugo de coco de aquí es donde nace su nombre.... </p>
                                    <a href="/recetas/mariscos/encocado_camaron" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/mariscos/encebollado">
                                    <img src="https://www.maxionline.ec/wp-content/uploads/2019/06/encebollado.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">ENCEBOLLADO</h5>
                                    <p class="card-text">El encebollado es un plato típico ecuatoriano originario de la región costa. Es considerado el plato insignia de la gastronomía ecuatoriana...</p>
                                    <a href="/recetas/mariscos/encebollado" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>

                <!-- Fila 3 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/mariscos/camarones_al_ajillo">
                                    <img src="https://www.goya.com/media/6630/spanish-garlic-shrimp-new.jpg?quality=80" class="card-img-top img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">CAMARONES AL AJILLO</h5>
                                    <p class="card-text">Sigue leyendo la receta y aprende cómo preparar camarones con esta receta al ajillo fácil, y si aún no te convence la idea, ten en cuenta que los ... </p>
                                    <a href="/recetas/mariscos/camarones_al_ajillo" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/mariscos/cangrejada">
                                    <img src="https://astelus.com/wp-content/viajes/Cangrejada.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">CANGREJADA</h5>
                                    <p class="card-text">La cangrejada criolla es una de las formas populares de servir el cangrejo en Ecuador.​ El plato consiste en cangrejos rojos cocinados con varias especias. Un plato muy tipico de la region costera y muy deliciosa ya sea por su ingrediente especial....</p>
                                    <a href="/recetas/mariscos/cangrejada" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>
                

                                                <!-- PAGINACION -->

                                                <div class="card-body">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center">
                                                            <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                                            </li>
                                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item "><a class="page-link" href="/mariscos2">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item">
                                                            <a class="page-link" href="/mariscos2">Siguiente</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>  
                                                <!-- PAGINACION -->

            </div>
    
             <!-- Aside -->
                <div class="col-lg-4 aside ">
                    <div class="card-body">
                        <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-bien-respetarte-min-696x696.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <hr> 
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </div>
                    <div class="card-body">
                        <hr> 
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </div>
                    <div class="card-body">
                        <hr> 
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </div>
                </div>
            <!-- FIN Aside -->
 

        </div>
    

        </div>
    </div>
<!-- Fin de la receta -->



  

 <!-- Cards Tarjetas sirven para agrupar  -->
<!-- <div id="games">
   <div class="container-md p-1"> -->
 
 

        <!-- Fila de los iconos  e el boton de imprimir-->
<!--         <div class="row">

            <form class="d-flex p-2">
                        
  
                <label class = "col-form-label"for="">
                    <i class="fas fa-utensils"></i>
                </label>

                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-print"></i>
                </button>
              </form> 
        </div> -->
 

        <!-- Fila de los ingredientes y de la preparacion  -->
<!--         <div class="row">
            <div class="card-body">
                <h5 class="card-title">ENCEBOLLADO</h5>
                <p class="card-text">El encebollado es un plato típico ecuatoriano originario de la región costa. Es considerado el plato insignia de la gastronomía ecuatoriana ...</p>
                <a href="Recetas/Recetas de sal/Costa/encebollado.html" class="btn btn-primary">Ver mas</a>
                </div>
        </div>
             -->
            


        
<!--   
        <div class="row py-5">
            <div class="col">
                <h3 class="text-center" style="color: var(--bs-blue) ;">More recetas.com</h3>
            </div>
        </div>
        <div class="row" justify-content-center>
            <div class="col-2"> <a href="#">Comidas.com</a></div>
            <div class="col-2"> <a href="#">Comidas.com</a></div>
            <div class="col-2"> <a href="#">Comidas.com</a></div>
            <div class="col-2"> <a href="#">Comidas.com</a></div>
            <div class="col-2"> <a href="#">Comidas.com</a></div>
        </div> -->
<!--     </div> -->  
<!-- </div> -->
<!-- Fin Cards Tarjetas sirven para agrupar  -->







<!-- Footer -->
<%- include layout/footer.ejs  %> 
<!-- Fin Footer -->


    <!-- Efecto del scrooll de la pagina -->
    <script> 
	var  scroll  =  new  SmoothScroll ( 'a [href * = "#"]' ) ; 
    </script>

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>