<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- Scrooll -->
    <script src="javascripts/smooth-scroll.min.js"></script>
    <!-- Fin Scroll -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>  
<!-- MDB -->
   <link  
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
rel="stylesheet"
 >  

</head>
<body>
 
   <!-- Navbar-->

   <%- include layout/header.ejs %> 

    <!-- FIN Navbar -->
 
    <!-- Banner -->

<section class= "banner-sal">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">No existe modernidad</h1>
            <p >"Sin una buena tradición"</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Recetario</p>
                <h4 class="h2 text-shadow">"Recetas Ecuatorianas"</h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 


    <!-- Inicio de las recetas de sal-->
    <div class="container">
        <hr>
        <!-- Inicio de las entradas -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Fila 1 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/bolones">
                                    <img src="/images/Imagenes_Recetas_Ecuatorianas/bolon.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">BOLONES DE VERDE</h5>
                                    <p class="card-text">El bolón de verde es un platillo típico de la costa ecuatoriana, por lo general se lo considera un plato ideal para el desayuno... </p>
                                    <a href="/recetas/recetas_de_sal/bolones" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/caldo_de_bolas_de_verde">
                                    <img src="https://www.deliciosi.com/images/400/494/caldo-de-bolas.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">CALDO DE BOLAS DE VERDE</h5>
                                    <p class="card-text">El secreto está en conseguir que las bolas no se deshagan para lo cual deben cocinarse en un tiempo prudencial y con los ciertos trucos de la sabiduría ecuatoriana, como combinar el verde...</p>
                                    <a href="/recetas/recetas_de_sal/caldo_de_bolas_de_verde" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>

                <!-- Fila 2 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/mote_pata">
                                    <img src="https://d1uz88p17r663j.cloudfront.net/original/050af66f64e0af6074de7d074d02f838_mote_pata.jpg" class="card-img-top img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">MOTE-PATA</h5>
                                    <p class="card-text">El delicioso Mote pata es una sopa tradicional ecuatoriana elaborado con mote, cebolla larga, ajo picado, lomo de cerdo, salchicha de cerdo, cuero de cerdo... </p>
                                    <a href="/recetas/recetas_de_sal/mote_pata" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/papas_cuero">
                                    <img src="https://d1uz88p17r663j.cloudfront.net/original/57952b17bcc879e079dedd0b5dc6724e_papas-con-cuero.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">PAPAS CON CUERO</h5>
                                    <p class="card-text">Las papas con cuero son un plato de comida que se consume tradicionalmente en algunas localidades de la región Sierra del Ecuador, consiste en un caldo de piel de chancho cocinado con papas y especies.​En...</p>
                                    <a href="/recetas/recetas_de_sal/papas_cuero" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>

                <!-- Fila 3 -->
                <div class="row">
                    <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/seco_de_chivo">
                                    <img src="https://lacomidaecuatoriana.com/wp-content/uploads/2014/11/Seco-de-chancho-ecuatoriano.jpg" class="card-img-top img-fluid" alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">SECO DE CHIVO</h5>
                                    <p class="card-text">Receta del seco de chivo,es un delicioso platillo típico ecuatoriano preparado con carne de chancho o cerdo.... </p>
                                    <a href="/recetas/recetas_de_sal/seco_de_chivo" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm">
                        <div class="card w-100 card-border mb-5">
                                    <a href="/recetas/recetas_de_sal/tigrillo_ecuatoriano">
                                    <img src="https://www.aki.com.ec/wp-content/uploads/2021/01/Tigrillo.jpg" class="card-img-top " alt="...">
                                    </a>
                                    <div class="card-body">
                                    <h5 class="card-title">TIGRILLO ECUATORIANO</h5>
                                    <p class="card-text">Tigrillo es un plato que consiste en un revuelto de plátano con queso, huevo, chicharrón o carne de res. Su nombre proviene del color café claro, casi amarillo...</p>
                                    <a href="/recetas/recetas_de_sal/tigrillo_ecuatoriano" class="btn btn-primary">Ver más</a>
                                    </div>
                        </div>
                    </div> 
                </div>
 
                                <!-- PAGINACION -->

                                <div class="card-body">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                            <a class="page-link" href="#">Siguiente</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>  
                                <!-- PAGINACION -->
            
            </div>
             <!-- Aside -->
                <div class="col-lg-4 aside ">
                    <div class="card-body">
                        <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-bien-respetarte-min-696x696.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <hr> 
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </div>
                    <div class="card-body">
                        <hr> 
                        <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </div>
                </div>
            <!-- FIN Aside -->
        </div>
        </div>
    </div>
<!-- Fin de la receta -->


<!-- Footer -->
<%- include layout/footer.ejs  %> 
<!-- Fin Footer -->


    <!-- Efecto del scrooll de la pagina -->
    <script> 
	var  scroll  =  new  SmoothScroll ( 'a [href * = "#"]' ) ; 
    </script>

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>