<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
     <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
   <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

</head>
<body id="body">
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs  %> 
    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-camaronesAjillo">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Camarones al</h1>
            <p >Ajillo</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->
 
<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                           CAMARONES AL AJILLO
                        </h2>
                        <p>Sigue leyendo la receta y aprende cómo preparar camarones con esta receta al ajillo fácil, y si aún no te convence la idea, ten en cuenta que los camarones son muy nutritivos y debes incluirlos en tu dieta. </p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://www.goya.com/media/6630/spanish-garlic-shrimp-new.jpg?quality=80" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                2 cucharadas de mantequilla o aceite. <br>
                                                4 dientes de ajo picado. <br>
                                                1 libra de camarones limpios y desvenados. <br>
                                                ¼ taza de vino blanco. <br>
                                                ¼ taza de crema de leche. <br>
                                                Sal y pimienta al gusto. <br>
                                                Perejil picadito o culantro. <br>
                                            </p>
                                        </div>
                                    </div>
                                <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident a neque quia obcaecati voluptatum nostrum libero corporis animi inventore minus illum consequatur quam fugit aut, distinctio possimus earum iste.</p> -->

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1). Derretir la mantequilla o calentar el aceite en una sartén. <br>
                                   2). Agregar el ajo y sofreír por un minuto.<br>
                                   3). Espolvorear los camarones con sal y pimienta al gusto. <br>
                                   4). Agregar los camarones o langostinos al sartén y dejar cocinar por ambos lados. <br>
                                   5). Agregar el vino blanco y dejar que se reduzca por la mitad. <br>
                                   6). Agregar la crema de leche y hacer hervir. Cocinar por unos minutos hasta que los camarones o langostinos estén a su punto. <br>
                                   7). Servir en un plato con arroz y patacones
                                </p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                      
                                        <i id="restaurant"  class="icon ion-md-restaurant"></i>
                                   
                                        <!-- <input class="btn btn-outline-dark" type="number" value="4"> -->
                                        <label for="">4</label>
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Guardar:</h5>
                                        <a href="/guardar/6" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://latarde.com/wp-content/uploads/2019/07/variedad-y-calidad.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src=" https://i.pinimg.com/originals/b9/d7/10/b9d7101e022b79c1d2e947dcadbcec50.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->


<!-- Footer -->

<% include ../../layout/footer.ejs %> 
    
<!-- Fin Footer -->


    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="../../myjs/print.js"></script>
</body>
</html>