<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
 
    <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
    <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  
<!-- Ioicons -->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body id="body">
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %> 

    <!-- FIN Navbar -->
 
   <!-- Banner -->

   <section class= "banner-Cangrejada">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">CANGREJADA</h1>
            <p ></p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->

<!-- Inicio de la receta-->
        <div id="r" class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                            CANGREJADA
                        </h2>
                        <p>Un plato muy tipico de la region costera y muy deliciosa ya sea por su ingrediente especial.</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/18/e7/73/51/la-cangrejada-ceviche.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div  class="col">
                                            <p>
                                                1 atado de cangrejos <br>
                                                la grande de cerveza <br>
                                                2 plátanos maduros cortados en 4 trozos <br>
                                                2 plátanos verdes cortados en 4 trozos <br>
                                                4 cebollas blancas cortada en cubos <br>
                                                5 ramitas de cilantro entero <br>
                                                ½ taza de dientes de ajos machacados <br>
                                                ½ taza orégano <br>
                                                ¼ taza de comino en grano <br>
                                                ¼ taza de pimienta negra en grano <br>
                                                ½ taza de sal <br>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>
                                    1)Lavar muy bien los cangrejos con un cepillo de cerdas duras. Verificar que todos los cangrejos estén vivos, los muertos se desechan (aunque hay quienes les prefieren matarlos antes de meterlos a la olla y hay otras personas que los meten vivos). <br> 
                                    2)Colocar las cebollas, el cilantro, el ajo, el orégano, el comino, la pimienta y la sal en una olla grande con agua y esperar hasta que el agua hierva. <br>
                                    3)Agregar los cangrejos uno a uno hasta que queden totalmente tapados con el agua. Añadir la cerveza y los plátanos cortados con cáscaras. <br>
                                    4)Esperar a que los cangrejos se pongan de color rojo y dejar hervir unos 10 minutos más. Sacar los cangrejos de la olla y pasarlos rápidamente agua fría para que la carne se ablande. <br>
                                    Servir la cangrejada en bandejas grandes acompañada de los plátanos cocinados, salsa de cebollas, plátanos fritos y canguil. <br>
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                      
                                        <i id="restaurant"  class="icon ion-md-restaurant"></i>
                                   
                                        <!-- <input class="btn btn-outline-dark" type="number" value="4"> -->
                                        <label for="">4</label>
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Guardar:</h5>
                                        <a href="/guardar/7" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-bien-respetarte-min-696x696.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comer-para-vivir-min-696x696.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->

   


<!-- Footer -->
 <%- include ../../layout/footer.ejs  %> 
<!-- Fin Footer -->
 

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="../../myjs/print.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="http://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>