<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
 
    <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
    <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet">  
<!-- Ioicons -->
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
 
   <!-- Navbar-->

    <% include ../../layout/header.ejs %>  

    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class="banner-ceviche">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Ceviche de camaron</h1>
            <p >Marisco</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->

<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 class="card-title text-center">
                            CEVICHE DE CAMARÓN
                        </h2>
                        <p>Ecuador es conocido mundialmente como uno de los exportadores de camarones de alta calidad, y este justo por esto que no es sorprendente que el ceviche de camarones en Ecuador es uno de los platillos más exquisitos y representativos de la gastronomía ecuatoriana.</p>
                        <hr>
                     <div class="col">
                     <div class="col">
                            <div class=" card w-100 mb-5">
                                    <img src="https://www.recetas-argentinas.com/base/stock/Recipe/175-image/175-image_web.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                1 libra camarones<br>
                                                1 cebolla y media paiteña (colorada)<br>
                                                Jugo de 2 naranjas<br>
                                                Zumo de limón<br>
                                                2 cucharas salsa de tomate<br>
                                                1 cuchara Mostaza<br>
                                                Aceite de oliva<br>
                                                Sal<br>
                                                Culantro<br>
                                                2 dientes ajo<br>
                                                1 pimiento verde pequeño<br>
                                                1 tomate riñón rallado

                                            </p>
                                        </div>
                                    </div>

                                </div>
                                  <div class="col-lg-6"><h3>Preparación:</h3>
                                <p>

                                    1) Picar la cebolla en corte juliana, dejar reposar en un bowl con agua e ir exprimiendo con la mano la cebolla para sacar el sabor, reservar.<br>
                                    2) Pelar los camarones y quitar la vena inferior, reservar la cáscara.<br>
                                    3) En una olla hervir agua con 2 dientes de ajo, media cebolla colorada, culantro, pimiento y sal.<br>
                                    4) Cuando esté el agua hirviendo introducir los camarones y cocinarlos alrededor de 4 minutos.<br>
                                    5) Sacar los camarones y meterlos en agua con hielo para detener la cocción. Cernir y reservar el agua en el que se cocinaron los camarones.<br>
                                    6) En un sartén poner un poco de aceite y freír las cáscaras de camarón hasta que estén rosadas. Poner en la licuadora con agua y licuar, cernir y reservar el agua.<br>
                                    7) En un recipiente grande poner el agua donde se cocinaron los camarones, el agua de las cáscaras y el agua de las cebollas. Añadir el jugo de las dos naranjas, el tomate rallado, las cebollas picadas, la salsa de tomate, la mostaza, los camarones, limón, sal, el Culantro, aceite de oliva y sal al gusto.
                                
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                      
                                        <i id="restaurant"  class="icon ion-md-restaurant"></i>
                                   
                                        <!-- <input class="btn btn-outline-dark" type="number" value="4"> -->
                                        <label for="">4</label>
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Guardar:</h5>
                                        <a href="/guardar/8" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  

                </div>

            </div>
           <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="#">
                    <img src="https://i.pinimg.com/originals/99/78/3c/99783cdcbec1eacadccbe69ada8ec5fc.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.lifeder.com/wp-content/uploads/2018/04/comienzo-de-la-salud-nutricion-min-1024x1024.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://i.pinimg.com/originals/10/e6/5c/10e65cfaa3ca00fd3e8a3ce4d6087d41.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        </div>
<!-- Fin de la receta -->

   


<!-- Footer -->
<% include ../../layout/footer.ejs %> 
<!-- Fin Footer -->
 

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>