<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecEc</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
 
    <!-- INICIO de MD BOOSTRAP FRAMEWORK -->
 
<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a319c889e6.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />  
<!-- MDB -->
    <link  
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    >  

</head>
<body id="body">
 
   <!-- Navbar-->

   <%- include ../../layout/header.ejs %> 
    <!-- FIN Navbar -->
 
   <!-- Banner -->

<section class= "banner-bizcocho">
    <div>
        <div class="starter-template text-dark">
            <h1 class="">Bizcocho de Vainilla</h1>
            <p >Sierra</p>
        </div>
    </div>
</section>

 <!-- Fin Banner -->

 
<!-- Ribbon -->

   <div id="ribbon" class="container-fluid p-3">
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <div class="row align-items-center">
 
             <div class="cols-sm p-3 text-light text-center">
                <p class="text-warning h1">Preparación</p>
                <h4 class="h2 text-shadow">Ingredientes: </h4>
             </div>
        </div>
    </div>
</div>   

<!-- Fin Ribbon -->

<!-- Inicio de la receta-->
        <div class="container">
            <hr>
            <!-- Inicio de las entradas -->
            <div class="row">
                <!-- Boostrap trabaja con 12 columnas de las cuales en la siguiente linea de codigo solo cogemos 8 / 12 -->
                <div class="col-lg-8">
                    <!-- Fila 1  -->
                        <h2 id="t" class="card-title text-center">
                            BIZCOCHO DE VAINILLA
                        </h2>
                        <p>El castella es un popular bizcocho  hecho con azúcar, harina, huevo y jarabe de maíz, muy común en los festivales y como comida callejera.</p>
                        <hr>
                     <div class="col">
                            <div id="f" class=" card w-100 mb-5">
                                    <img src="https://i.ytimg.com/vi/KDV8I4iBtgw/maxresdefault.jpg" alt="" class="card-img-top img-fluid">
                            </div>  
                            <div class="row">  <!-- Esta linea esta dentro de una fila 2 columnas  -->
                                <div id="i" class="col-lg-6"><h3>Ingredientes:</h3>
                                    <div class="row p-1">
 
                                        <div class="col">
                                            <p>
                                                300 g	Huevos o 6 huevos medianos para 1 bizcocho<br>
                                                200 g	Azúcar <br>
                                                3 cdas	miel <br>
                                                3 cdas	Agua Caliente <br>
                                                150 g	Harina panificable (de fuerza) <br>
                                                1 cda	Azúcar moreno o moscovado o cristales de azúcar de café, o panela rallada (opcional)<br>
                                                
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                  <div id="p" class="col-lg-6"><h3>Preparación:</h3>
                                <p>1).Empezaremos colocando los huevos enteros y las yemas en un bol y mezclándolos. Añadiremos el azúcar y seguiremos removiendo hasta conseguir que el conjunto sea homogéneo. A continuación añadiremos la miel y mezclaremos. <br>
                                2).Cogemos otro bol y le añadimos agua caliente. Pondremos el conjunto al baño maría y seguiremos mezclando hasta que llegue a una temperatura de 42ºC más o menos.  <br>
                                3).En un pequeño recipiente pondremos la mantequilla, le añadiremos la leche entera y fundiremos ambos ingredientes al baño maría o al microondas a baja potencia.<br>
                                4). Volvemos a coger el bol con los huevos y el azúcar y lo mezclaremos con la batidora hasta que vaya cogiendo la consistencia adecuada. La textura irá cambiando y el color se irá volviendo más blanquecino. Una vez obtengamos la textura adecuada, tamizaremos la harina con un colador y seguiremos mezclando con una espátula.<br>
                                5). Cuando esté bien mezclado, cogeremos una cucharada grande de la mezcla y la añadiremos y disolveremos con la leche y la mantequilla. Luego verteremos esta mezcla en el conjunto y seguiremos removiendo  con la espátula.<br>
                                6). Preparamos un molde con papel de hornear y colocaremos dentro la mezcla. Hornearemos 10 minutos a 200 grados y pasado este tiempo bajaremos la temperatura a 150 grados y seguiremos horneando durante 40 minutos.<br>
                                7). Pasado este tiempo ya tendremos listo nuestro bizcocho de Vinilla. Lo sacamos del horno y lo desmoldamos con cuidado.<br>
                                ¡A disfrutar!
                                </p>
                            

                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><h5>Porciones:</h5> 
                                        <input class="btn btn-outline-dark" type="number" value="4">
                                            
                                        </input>
                                    </div>
                                    <div class="col-lg-6 d-grid"><h5>Imprimir:</h5>
                                        <a href="/guardar/19" type="btn btn-info" class="icon ion-md-save"></a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                      </div>  
                </div>

                 <!-- Aside -->
            <div class="col-lg-4" >
                <div class="card-body">
                    <h4 class="text-center"> ARTÍCULOS RECOMENDADOS</h4>
                    <a href="https://www.alimentatubienestar.es/ideas-para-preparar-postres-saludables/">
                    <img src="https://i1.wp.com/alimentatubienestar.es/wp-content/uploads/2014/04/Postres-saludables-consejos1.jpg?ssl=1" class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="#">
                    <img src="https://www.valor.es/wp-content/uploads/2016/05/chocolate-puro-postres-2.png" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="https://www.philadelphia.cl/recetas/postres/recetas-de-flanes/flan-de-arroz-con-leche/">
                    <img src="https://www.philadelphia.cl/modx/assets/img/recetas/principal/recetas_full_v2/postres/flanes/flan_de_arroz_con_leche.jpg" alt=""class="img-fluid">
                    </a>
                </div>
                <div class="card-body">
                    <hr> 
                    <a href="https://www.recetasgratis.net/articulo-20-bebidas-con-ginebra-faciles-74346.html">
                    <img src="https://t1.rg.ltmcdn.com/es/images/6/4/3/20_bebidas_con_ginebra_faciles_74346_600_square.jpg" alt=""class="img-fluid">
                    </a>
                </div>
            </div>
                <!-- FIN Aside -->
 

            </div>
        

            </div>
        </div>
<!-- Fin de la receta -->

   


<!-- Footer -->
<%- include ../../layout/footer.ejs %>   
<!-- Fin Footer -->
 

    <!-- Fin de la linea del Js Del Scroll -->
    <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/myjs/print.js"></script>
</body>
</html>