
        <header  class="navbar navbar-expand-sm navbar-dark p-3 bg-danger text-white fixed-top scrolling-navbar ">
            <div class="container" href="#">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/">
                        <img src="/images/LOGO TEMPORAL.JPG-1.png"  alt="" width="200"
                    </a>                
                    <ul class="navbar-nav text-white  col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
                        <a class="nav-item nav-link active" href="/" > Inicio</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/recetas_de_sal">Recetas de Sal</a></li>
                                    <li><a class="dropdown-item" href="/recetas_de_dulce">Recetas de Dulce</a></li>
                                    <li><a class="dropdown-item" href="/mariscos">Mariscos</a></li>
                                </ul>
                            </li>
                        <a class="nav-item nav-link" href="/quienes_somos" > Quienes Somos</a>
                    </ul> 
                    <form action="/buscar" method="POST" class="d-flex">
                        <input name="p" type="search" class="form-control form-control-dark me-2" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-search btn btn-outline-light" type="submit">
                            <img src="/images/busqueda-de-lupa.png" alt="">
  
                        </button>
                      </form>

               
                    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img width="30px" height="30px"  src="/images/UsuarioListo.png" alt="" id= "avatar" class="img-fluid rounded-circle  mr-2 ">
                           <%= name %> 
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/misRecetas">Mis Recetas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="/logout"  class="dropdown-item">Cerrar Sesión</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>   